{% extends 'base.html' %}

{% block head %}
<title>Transparencia</title>
{% endblock %}

{% block body %}
    <br>
    <h1>Transparency Data for ASBL in Belgium </h1>
    <br>
    <h4>This is a list that automatically verifies:
      <br>
      1. if ASBL website contain transparency data on their website
      <br>
      2. The date of last publication of financial statements.</h4>
    <br>
    <h4>We use the CBE public search, Central Balance Sheet Office and web scraping tools to verify check data in real time.</h4>
    <h4>More info on our github repo
    <a href="https://github.com/wainaze/Transparencia" target="blank">https://github.com/wainaze/Transparencia</a></h4>

    <a href="/getfile" class="btn btn-primary" role="button">Download Full Excel</a>
    <br>
    <br>
    {% for table in tables %}

    {{ table|safe }}
    
    {% endfor %}
    </table>  
{% endblock %} 

{% block scripts %}
  <script>
    $(document).ready(function () {
      $('#table').DataTable({
        columns: [
          null,
          null,
          null,
          null,
          null,
          null,
          null,
          null,
          null,
          {searchable: false},
          {orderable: false, searchable: false},
          {orderable: false, searchable: false},
          null],
      });
    });
  </script>
{% endblock %}